<section id="recipe_details">
  <h1 class="center"><%=@recipe.name%></h1>
  <div>
    <p>Preparation time: <%= @recipe.preparation_time %></p>
    <div>
      <%= form_for @recipe, url: recipe_update_public_path(@recipe), remote: true do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= label_tag "public", "Public" %>
        <%= f.check_box :public, onchange: 'this.form.submit();' %>
      <% end %>
    </div>
  </div>
  <p>Cooking time: <%= @recipe.cooking_time %></p>
  <div>
    <p>Steps</p>
    <p><%= @recipe.description %></p>
  </div>
  <div>
    <button>Generate shopping list</button>
    <% if current_user.is_owner? @recipe || @recipe.public === true%>
      <button class="">
        <%= link_to 'Add ingredient', new_recipe_food_path(recipe_id: @recipe.id) %>
      </button>
    <% end %>
    <hr>
  </div>
  <div class="food">
    <h3>Ingredients</h3>
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.each_with_index do |ingredient, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= ingredient.food.name %></td>
            <td><%= ingredient.quantity %></td>
            <td><%= number_to_currency(ingredient.quantity * ingredient.food.price) %></td>
            <td>
              <% if current_user.is_owner? @recipe%>
                <%= button_to "Remove", recipe_food_path(recipe_id: @recipe.id, id: ingredient.id), method: :delete, data: { confirm: "Are you sure you want to delete this recipe food?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
