<div id="foods" class="food">
  <div class="new_food">
      <%= link_to "Add food", new_food_path %>
  </div>
  <div>
    <table class="food_table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Mesurement unit</th>
          <th>Unit price</th>
          <th>Quantity</th>
          <th>Acion</th>
         </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
           <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.price %>$</td>
            <td><%= food.quantity %></td>
            <td> <%= button_to "Delete",food_path(food), method: :delete, data: { confirm: "Are you sure?" } %> </td>
           </tr>
         <% end %>
       </tbody>
    </table>
  </div>
</div>


