<div class=" shadow col-6 h-600 mx-auto rounded border border-darker px-10 py-5">
  <h1 class="text-center fw-bold">Add Food</h1>
  </br>
  <%= form_with model: @food, url: foods_path, local: true, class: "form" do |form| %>
    <div class="col-md-8 mb-3 mx-auto">
      <%= form.label :name ,class: "form-label" %>
    <%= form.text_field :name, required: true, class: "form-control"  %>
  </div>
  <div class="col-md-8 mb-3 mx-auto">
    <%= form.label :measurement_unit ,class: "form-label" %></br>
  <%= form.select :measurement_unit, ['grams', 'ounces', 'cups', 'tablespoons', 'teaspoons','pounds', 'kilos'], {}, { required: true, class:"form-select form-control rounded border"  } %>
</div>
<div class="col-md-8 mb-3 mx-auto">
  <%= form.label :unit_price ,class: "form-label" %></br>
<%= form.text_field :price, required: true, class: "form-control"  %>
</div>
<div class="col-md-8 mb-3 mx-auto">
  <%= form.label :quantity ,class: "form-label" %></br>
<%= form.text_field :quantity, required: true, class: "form-control"  %>
</div>
<div class="col-md-8 mb-3 mx-auto">
  <%= form.submit "Add", class:"btn btn-primary" %>
  <button class="btn btn-light">
    <%=link_to 'cancel', '/foods'  %>
  </button>
</div>
<% end %>
</div>
